[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  ba = branch -a
  com = checkout master
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
[user]
	name = Geoff Berger
	email = gberger@zappos.com
[color]
  diff = auto
  status = auto
  branch = auto
[core]
	excludesfile = /Users/gberger/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
